---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ technitium_service_name }}
  labels:
    app: technitium
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      hostNetwork: true
      restartPolicy: Always
      containers:
      - name: technitium
        image: docker.io/technitium/dns-server:latest
        imagePullPolicy: Always
        volumeMounts:
        - mountPath: /etc/dns
          name: technitium
      volumes:
      - name: technitium
        persistentVolumeClaim:
          claimName: technitium
